

@font-face {
    font-family: 'Tw Cen MT';
    src: url('./../fonts/TCM_____.ttf') format('truetype');
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url('./../fonts/TCMI_____.ttf') format('truetype');
    font-style: italic;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url('./../fonts/TCB_____.ttf') format('truetype');
    font-weight: bold;
}

@font-face {
    font-family: 'Tw Cen MT';
    src: url('./../fonts/TCBI_____.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "Tw Cen MT Condensed";
    src: url('./../fonts/TCCM____.ttf') format('truetype');
}

@font-face {
    font-family: "Tw Cen MT Condensed";
    src: url('./../fonts/TCCB____.ttf') format('truetype');
    font-weight: bold;
}

.canvas-center {
    text-align: center;
}

.font-try {
    font-family: "Tw Cen MT";
}